nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background: #2B2E4A;
    padding-top: 4px;
    color: white;
    box-shadow: 0px 0 10px -5px black;
}

li {
    display: inline;
}

.navbar-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.players-draw {
    color: white;
    font-size: 30px;
}

.players-win {
    color: white;
    font-size: 30px;
    margin-left: 500px;
}

.game-name {
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 1200px) {
    .players-draw, .players-win, .game-name {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .players-draw, .players-win, .game-name {
        font-size: 20px;
    }

    .players-win {
        margin-left: 200px;
    }
}

@media screen and (max-width: 768px) {
    .players-draw, .players-win, .game-name {
        font-size: 18px;
    }

    .players-win {
        margin-left: 200px;
    }
}

@media screen and (max-width: 576px) {
    .players-win {
        margin-left: 150px;
    }
}